.operator{
    background-color: limegreen;
    color: white;
    width: 143px;
    height: 50px;
    float: left;
    margin-top: 10px;
}

.operator:hover{
    background-color: yellowgreen;
}

.number{
    background-color: lightgray;
    width: 143px;
    height: 50px;
    margin-right: 10px;
    margin-top: 10px;
    float: left;
}

.number:hover{
    background-color: navajowhite;
}

.equal{
    background-color: dodgerblue;
    color: white;
    width: 140px;
    height: 110px;
    margin-right: 5px;
    margin-top: 10px;
    float: right;
}

.equal:hover{
    background-color: deepskyblue;
}

.delete{
    background-color: crimson;
    color: white;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    float: left;
}
.delete:hover{
    background-color: tomato;
    color: white;
}

.total{
    height: 50px;
    width: 599px;
    float: left;
    text-align: right;
    border-radius: 4px;
    border-color: lightgray;
    font-size: 24px;
}
.header{
    font-family: Calibri Light;
    font-size: 48px;
}
.calculator{
    width: 610px;
    margin: auto;
    text-align: center;
}

.zero{
    background-color: lightgray;
    width: 295px;
    height: 50px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.zero:hover{
    background-color: navajowhite;
}

button{
    border: none;
    border-radius: 4px;
}
